body{
	background-image: url(../img/garden.jpg);

}
h1{
	color: #50591b;
    font-size: 80px;
	width: 50%;
	margin: 0 auto;
	font-family: 'Cabin Sketch', cursive, bold;
}
h2{
	color: rgba(105, 67, 29, 0.91);
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	border-bottom:1px solid #313030;
}
h3{
	color: #55310c;
	width: 70%;
	margin: 0 auto;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
}
.summary{
	color: #2f3815;
	font-family: 'Verdana', cursive
	font-size: 20;
	/*
    border-radius: 25px;
    border: 2px solid #50591b;*/
    height: 100px; 
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 0px;
	border-bottom:1px solid #313030;
	/*box-shadow: inset 0px 0px 22px -1px rgba(0,0,0,0.4);*/
}
.preamble, .explanation, .participation, .benefits, .requirements{
	color: #39460f;
	font-family: 'Verdana', cursive
	font-size: 10;
	background-color: #e9c482;
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 140px;	
	border-radius: 15px 50px;
    padding: 20px;
    box-shadow: 5px 5px 35px -1px rgba(0,0,0,0.75); 
}
a:link, a:visited {
    color: #7d6f54;
    border: 2px solid #b4bf8c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #b4bf8c;
}
.design-selection{
	margin-top: 30px;
	margin-left: 900px;
	margin-top: -1640px;
	width: 20%;
}
.design-archives{
	margin-top: 30px;
	margin-left: 900px;
	width: 20%;
}
.zen-resources{
	margin-top: 30px;
	margin-left: 900px;
	width: 20%;
}
footer{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
	border-bottom:1px solid #313030;
}